* {
  border: none;
  outline: none; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f2eee5; }
  body #Rank {
    overflow: hidden;
    width: 50%;
    max-width: 512px;
    border-radius: 4px; }
    body #Rank .header .title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      font-size: 24px;
      background-color: #6ec2da;
      color: white;
      text-align: center; }
    body #Rank .header .rank-box {
      display: flex; }
      body #Rank .header .rank-box .rank-input-box {
        flex-grow: 1; }
        body #Rank .header .rank-box .rank-input-box .rank-keyword {
          width: 100%;
          background-color: #495057;
          padding: .5rem;
          font-size: 1.125rem;
          line-height: 1.5;
          color: white; }
          body #Rank .header .rank-box .rank-input-box .rank-keywordplaceholder {
            color: #dee2e6; }
      body #Rank .header .rank-box .rank-btn {
        background-color: #858e95;
        padding: 0 1rem;
        font-size: 1.125rem;
        color: white; }
    body #Rank .rank-list {
      background-color: white;
      min-height: 320px;
      max-height: 720px;
      overflow-y: auto; }
      body #Rank .rank-list .rank-item {
        padding: 1rem; }
        body #Rank .rank-list .rank-item:nth-child(even) {
          background-color: #f8f9fa; }
        body #Rank .rank-list .rank-item + body #Rank .rank-list .rank-item {
          border-top: 1px solid #dee2e6; }
        body #Rank .rank-list .rank-item .rank-item-head {
          display: flex;
          justify-content: space-between; }
        body #Rank .rank-list .rank-item .rank-item-body {
          display: flex;
          justify-content: center;
          padding: 1rem 1.5rem 1.5rem;
          font-size: 2rem; }